{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h1>Oops. Page not found (404)</h1>
        <p>That page does not exist. <br>
            Please try a different location.</p>

    </div>
{% endblock content %}
