{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-3">Posts by {{ user.username }} ({{ posts.total }})</h1>
    {% for post in posts.items %}
        <article class="media content-section">
            <img src="{{ url_for('static',filename='profile_pics/'+post.author.image_file) }}" alt=""
                 class="rounded-circle article-img">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('users.user_posts',username=post.author.username) }}">{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('posts.post',post_id=post.id) }}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content | truncate(200) | safe }}</p>
                  <small class="text-muted">
                    <a href="{{ url_for('posts.post',post_id=post.id) }}" class="ml-2">Read more</a>
                </small>

            </div>
        </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1,right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page==page_num %}
                <a href="{{ url_for('users.user_posts',page=page_num,username=user.username) }}" class="btn btn-info mb-4">{{ page_num }}</a>
            {% else %}
                <a href="{{ url_for('users.user_posts',page=page_num,username=user.username) }}" class="btn btn-outline-info mb-4">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}

